.App {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.Button{
  background: gray;
  border: none;
  color: white;
  margin: 10px 5px;
  padding: 9px;
  border-radius: 5px;
}

.Button:hover {
    cursor: pointer;
}

.Header {
    background-color: gray;
    color: white;
    display: inline;
}

.Header a {
    margin: 5px 15px;
}

a:visited {
    color: white;
}

a:hover {
    color: maroon;
}

.Links {
    color: white;
    background-color: gray;
    padding: 15px 20px;
    text-align: right;
}

hr {
  width: 80%;
}

/* not working yet */
label {
    text-align: left;
}

.landingImg{
    height:100%;
    width: 100%;
}

input {
    margin-top: 5px;
}

.formGroup{
    margin: 7px 0;
}

.Wrapper{
}

.Linkbutton{
    background: gray;
    border: none;
    color: white;
    padding: 10px;
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/
