.App {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.Button{
  background: #8e99ad;
  border: none;
  color: white;
  margin: 10px 5px;
  padding: 9px;
  border-radius: 5px;
}

.Button:hover {
    cursor: pointer;
}

.Header {
    display: inline;
}

.Header a {
    margin: 5px 15px;
}

a:visited {
    color: white;
}

a:hover {
    color: maroon;
}

.Links {
    color: white;
    /*background-color: gray;*/
    background-color: #8e99ad;
    padding: 15px 20px;
    text-align: right;
}

hr {
  width: 80%;
}

.indivCompany{
    padding: 0 10%;
    text-align: left;
}

.IntroPara {
    text-align: left;
    padding: 0 20px;
}

/* not working yet */
label {
    text-align: left;
}

.landingImg{
    height:100%;
    width: 100%;
}

input {
    margin-top: 5px;
    width: 80%;
}

.formGroup{
    margin: 7px 0;
}

.Wrapper{
}

table{
    width: 100%;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

textarea {
    height: 50px;
    width: 80%;

}

.Linkbutton{
    background: #8e99ad;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/
